<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>dev.finance$ | Home</title>

    <link rel="stylesheet" href="../styles/homepage.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <!-- <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,700;1,100;1,400;1,700&display=swap"
      rel="stylesheet"
    /> -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="header-content">
        <div class="left-header">
          <img src="../assets/logo.svg" alt="Logo Dev Finances" id="logo" />
        </div>

        <div class="right-header">
          <a href="./dashboard.html" id="start">Get started</a>
        </div>
      </div>
    </header>

    <main class="container">
      <section class="content">
        <h2>- The most complete application to control your finances.</h2>

        <h1 id="main-text">
          Unlock your card <br />
          to the max<span>.</span>
        </h1>

        <p>
          The easiest to have total control over your finances. <br />
          Receive, pay, and invest with maximum security.
        </p>
      </section>

      <div class="draw">
        <img
          src="../assets/card and hand.png"
          alt="Card and hand draw"
          id="draw-image"
        />
      </div>
    </main>
  </body>
</html>
